spring:
  application:
    name: mos-seller-mcrs
  datasource:
    url: jdbc:mysql://mysql-32514b67-lambro2510-7aba.h.aivencloud.com:16150/defaultdb?useSSL=true&requireSSL=true
    username: avnadmin
    password: AVNS_lfFBT9tnsX0JpFgIf1H
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      prefix: app
      host: redis-14343.c1.ap-southeast-1-1.ec2.redns.redis-cloud.com
      port: 14343
      username: default
      password: GEqq94OKKLXP0H22AN8fJjeBFwXqFXGx
      timeout: 60000

feign:
  client:
    config:
      default:
        connect-timeout: 3000
        read-timeout: 3000

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.cloud.openfeign: DEBUG

security:
  public-routes:
    - "/v1/seller-center/public/**"
    - "/swagger-ui/**"
    - "/v3/api-docs/**"